<html>
    <head>
        <title>Other people chats</title>
        <script src="../peopleJS/chat.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <% include ../partials/externalthings %>
        
    </head>
    <body>
        <div class="container">
            <h1>People</h1>
            <div id="content">
            </div>
            <div class="controls">
                    <div id="sendMessageDiv">
                        <label>You are say: 
                            <input type="text" id="field">
                            <input type="button" id="send" value="Send">
                        </label>
                    </div>
                    <div id="nameDiv">
                        <label>Say Your Name: <input type="text" id="name"> </label> <input type="button" value="Go" id="sendName">
                    </div>
            </div>
        </div>
    </body>
</html>